.App {
  text-align: center;
  width: 100%;
  height: 100%;
}
.App-Container {
  background-color: #282c34;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.logo {
  height: 23%;
  width: 28%;
}
.title{
  width: 100%;
  height: 18%;
}
.rand{
  width: 100%;
  height: 55% ;
}
.App-Container>p{
  height: 3%;
  font-size: 0.5em;
}
